<div *ngFor="let validation of taskValidationMessages.taskName">
  <div
    class="error"
    *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)"
  >
    {{ validation.message }}
  </div>
</div>

<div *ngFor="let validation of taskValidationMessages.projectName">
  <div
    class="error"
    *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)"
  >
    {{ validation.message }}
  </div>
</div>

<form
  class="input-add-task"
  [formGroup]="taskForm"
  (ngSubmit)="onSubmitForm(taskForm.value)"
>
  <input placeholder="Digite o nome da tarefa" formControlName="taskName" />
  <input
    placeholder="Digite o nome do projeto"
    formControlName="projectName"
    list="projects"
  />
  <datalist id="projects">
    <option *ngFor="let project of projects" value="{{ project.name }}">
      {{ project.name }}
    </option>
  </datalist>
  <input
    placeholder="Selecione uma data"
    formControlName="taskDate"
    type="date"
  />

  <button type="submit" [disabled]="!taskForm.valid">Adicionar</button>
</form>
