<div class="app-container">
  <div class="input-add-task-container">
    <form class="input-add-task" (submit)="addTask()">
      <input
        placeholder="Digite o nome da tarefa"
        [(ngModel)]="taskName"
        [ngModelOptions]="{ standalone: true }"
      />
      <button type="submit">Adicionar</button>
    </form>

    <div class="list-container">
      <table class="todo-list">
        <tr>
          <td class="table-title">Nome da tarefa</td>
          <td class="table-title">Ações</td>
        </tr>
        <tr *ngFor="let task of taskList; let index = index">
          <td>{{ task }}</td>
          <td>
            <button class="btn-rm" (click)="removeTask(index)">Remover</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
