<div class="list-container">
  <table class="todo-list">
    <tr>
      <td class="table-title">Concluído</td>
      <td class="table-title first">Nome da tarefa</td>
      <td class="table-title">Ações</td>
    </tr>
    <tr *ngFor="let task of tasks; let index = index">
      <td (click)="makeDone(index, !task.isDone)">
        <input type="checkbox" [checked]="task.isDone" >
      </td>
      <td [ngClass]="task.isDone && 'done'">{{ task.name }}</td>
      <td>
        <button class="btn-rm" (click)="remove(index)">Remover</button>
      </td>
    </tr>
  </table>
</div>
