<div class="list-container">
  <table class="todo-list">
    <tr>
      <td class="table-title">Concluído</td>
      <td class="table-title first">Nome da tarefa</td>
      <td class="table-title">Data</td>
      <td class="table-title">Ações</td>
    </tr>
    <tr *ngFor="let task of tasks; let index = index">
      <td (click)="makeDone(task.id, !task.isDone)">
        <input type="checkbox" [checked]="task.isDone" />
      </td>
      <td [ngClass]="task.isDone && 'done'">{{ task.name }}</td>
      <td>{{ task.date | date: "dd/MM/yyyy" }}</td>
      <td>
        <button class="btn-rm" (click)="remove(task)">Remover</button>
      </td>
    </tr>
  </table>
</div>
