.list-container {
  margin: 40px 5px;
  background-color: #e9e9ec;
  border-radius: 10px;
}

.todo-list td {
  padding: 10px;
}

.todo-list {
  width: 100%;
  border-collapse: collapse;
  color: #212121;
}

.table-title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: solid 1px #212121;
}

.first {
  width: 100%;
}

.done {
  text-decoration-line: line-through;
}

.btn-rm,
.btn-fn {
  border-radius: 10px;
  font-size: 18px;
  border: none;
  padding: 10px;
  color: #e9e9ec;
  margin: 5px;
  cursor: pointer;
}

.btn-rm {
  background-color: #552121;
}

.btn-fn {
  background-color: #215521;
}
